@use "./variables" as *;


.section {
  padding-top: 80px;
}


.section__inner {
  width: 80%;
  margin:0 auto;
}

.section__title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.service__title {

}

.service__cards {
  margin-top: 40px;
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-template-columns: repeat(auto-fit, minmax(200px,300px));
  // column-gap: 26px;
  // row-gap: 40px;
  gap:26px;
  justify-content: center;
}

.ebook__logos {
  margin-top: 40px;
  display: grid;
  gap:20px;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}
